@import "../node_modules/ol/ol.css";

:root {
  --custom-green: #99ff99;
  --custom-green-dark: #4CAF50;
}

.bg-custom-green-dark {
  background-color: var(--custom-green-dark);
}

.bg-custom-green {
  background-color: var(--custom-green);
}

.map {
  width: 100%;
  bottom: 0px;

  /* height of the bootstrap header/navbar */
  top: 46px;
  position: absolute;
}

.map-small {
  width: 100%;
  height: 400px;
}

